.social-proof {
  position: relative;
  min-height: 100%;
  max-width: $layout-mobile;
  padding: 80px 24px;
}

.content-wrapper {
  width: 327px;
}

.editorial {
  min-height: 220px;
  min-width: 327px;
  margin-bottom: 40px;

  &__title {
    @include title-mobile;
    text-align: center;
    margin-bottom: 18px;
  }

  &__body {
    @include body-text;
    font-stretch: expanded;
    text-align: center;
    letter-spacing: -1px;
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 266px;
  max-width: 327px;
  margin-bottom: 49px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 78px;
    border-radius: 8px;
    background-color: $color-content;
  }

  &__stars-group {
    display: flex;
    justify-content: space-between;

    height: 16px;
    width: 116px;
    margin: 16px 0;
  }

  &__text {
    @include rating-body-text;
    margin-bottom: 15px;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 792px;
  max-width: 327px;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 248px;
    width: 327px;
    padding: 40px 32px;
    border-radius: 8px;
    background-color: $color-primary;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 160px;
  }

  &__avatar {
    border-radius: 50%;
  }

  &__info {
    height: 34px;
    width: 97px;
  }

  &__name {
    @include profile-body-text;
    width: 100px;
    text-align: left;
    margin: 4px 0 0 0;
  }

  &__verified {
    @include verified-body-text;
    margin: 7px 0 0 0;
  }

  &__text {
    height: 110px;
    min-width: 263px;
    @include card-body-text;
    text-align: left;
    line-height: 22px;
    letter-spacing: -0.23px;
    margin: 26px 0 0 0;
  }
}

// Background svg
.bg-img-top {
  position: absolute;
  top: 0;
  left: -3px;
}

.bg-img-bottom {
  
  position: absolute;
  bottom: 0;
  right: -3px;
}

.bg-img-top--dk {
  // display: none;
  position: absolute;
  visibility: hidden;
}

.bg-img-bottom--dk {
  // display: none;
  position: absolute;
  visibility: hidden;
}

// Attribution: Don't forgot to add to this at the end
.attribution {
  position: absolute;
  bottom: 28px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1110px) {
  .social-proof {
    min-width: 1110px;
    min-height: 573px;
    margin: 0 auto;
    padding: 127px 0 100px 0;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    height: 235px;
    width: 1110px;
    margin-bottom: 72px;

    .editorial {
      min-height: 235px;
      min-width: 445px;
      margin: 0;

      &__title {
        @include title-desktop;
        text-align: left;
        line-height: 48px;
        width: 400px;
      }

      &__body {
        @include body-text;
        text-align: left;
        width: 455px;
      }
    }
  }

  .ratings {
    min-height: 200px;
    min-width: 540px;
    margin: 18px 0 89px 0;

    &__content {
      // justify-content: space-around;
      flex-direction: row;
      height: 56px;
      width: 445px;
    }
    &__content--top {
      align-self: flex-start;
    }
    &__content--middle {
      align-self: center;
    }
    &__content--bottom {
      align-self: flex-end;
    }

    &__stars-group {
      margin-left: 32px;
    }
    &__text {
      margin: 21px 0 20px 32px;
    }
  }

  .reviews {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 266px;
    min-width: 1110px;

    &__card {
      height: 234px;
      width: 350px;
    }

    &__card--left {
      align-self: flex-start;
    }
    &__card--middle {
      align-self: center;
    }
    &__card--right {
      align-self: flex-end;
    }
  }

  .bg-img-top {
    display: none;
  }

  .bg-img-bottom {
    display: none;
  }

  .bg-img-top--dk {
    visibility: visible;
    display: absolute;
    top: -37px;
    bottom: -106px;
  }

  .bg-img-bottom--dk {
    visibility: visible;
    display: absolute;
    z-index: -2;
    bottom: 0;
    right: -160px;
  }
}
