.editorial {
}

.ratings {
}

.review-cards {
}

// Attribution: Don't forgot to add to this at the end
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
