// Mobile First
.social-proof {
  position: relative;
  min-height: 100%;
  max-width: $layout-mobile;
  padding: 80px 24px;
}

.content-wrapper {
  width: 327px;
}

.editorial {
  min-height: 220px;
  max-width: 327px;
  margin-bottom: 40px;

  &__title {
    @include title-mobile;
    text-align: center;
    margin-bottom: 18px;
  }

  &__body {
    @include body-text;
    font-stretch: expanded;
    text-align: center;
    letter-spacing: -1px;
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 266px;
  max-width: 327px;
  margin-bottom: 49px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 78px;
    border-radius: 8px;
    background-color: $color-content;
  }

  &__stars-group {
    display: flex;
    justify-content: space-between;

    height: 16px;
    width: 116px;
    margin: 16px 0;
  }

  &__text {
    @include rating-body-text;
    margin-bottom: 15px;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 792px;
  max-width: 327px;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 248px;
    width: 327px;
    padding: 40px 32px;
    border-radius: 8px;
    background-color: $color-primary;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 160px;
  }

  &__avatar {
    border-radius: 50%;
  }

  &__info {
    height: 34px;
    width: 97px;
  }

  &__name {
    @include profile-body-text;
    text-align: left;
    margin: 4px 0 0 0;
  }

  &__verified {
    @include verified-body-text;
    margin: 7px 0 0 0;
  }

  &__text {
    height: 110px;
    min-width: 263px;
    @include card-body-text;
    text-align: left;
    line-height: 22px;
    letter-spacing: -0.23px;
    margin: 26px 0 0 0;
  }
}

// Background svg
.bg-img-top {
  position: absolute;
  top: 0;
  left: -3px;
}

.bg-img-bottom {
  position: absolute;
  bottom: 0;
  right: -3px;
}

// Attribution: Don't forgot to add to this at the end
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
